In [101]:
import sqlite3

In [102]:
conn = sqlite3.connect('./timetableNew.db')

In [103]:
cur = conn.cursor()

In [104]:
createTables = '''
    CREATE TABLE IF NOT EXISTS SUBJECTS(
        SUBCODE TEXT PRIMARY KEY,
        SUBNAME TEXT,
        SUBTYPE TEXT       
        );

    CREATE TABLE IF NOT EXISTS FACULTY(
        FID TEXT PRIMARY KEY,
        PASSW TEXT,
        NAME TEXT,
        INI TEXT,
        EMAIL TEXT,
        SUBCODE1 TEXT,
        SUBCODE2 TEXT
        );

    CREATE TABLE IF NOT EXISTS STUDENT(
        SID TEXT PRIMARY KEY,
        PASSW TEXT,
        NAME TEXT,
        ROLL INT,
        SECTION TEXT
    );

    CREATE TABLE IF NOT EXISTS SCHEDULE(
        ID TEXT PRIMARY KEY,
        DAYID INT,
        PERIODID INT,
        SUBCODE TEXT,
        SECTION TEXT,
        FINI TEXT
    );   
'''

In [105]:
cur.executescript(createTables)

In [106]:
import random as rd

In [107]:
dataSub = []

subCorpus = '''18OEL390-professional elective-T,
18CSC303-database design-T,
18CSC302-number theory-T,
18MAT322-random processes-T,
18CSC301-operating system-T,
18MAT332-transform techniques-T,
18SSK301-soft skills-P,
18CSC381-dbms lab-P'''

subCorpus = subCorpus.replace('\n', '')

subCorpus = subCorpus.split(',')

for i in subCorpus:
    dataSub.append(tuple(i.split('-')))

In [108]:
dataSub

[('18OEL390', 'professional elective', 'T'),
 ('18CSC303', 'database design', 'T'),
 ('18CSC302', 'number theory', 'T'),
 ('18MAT322', 'random processes', 'T'),
 ('18CSC301', 'operating system', 'T'),
 ('18MAT332', 'transform techniques', 'T'),
 ('18SSK301', 'soft skills', 'P'),
 ('18CSC381', 'dbms lab', 'P')]

In [109]:
cur.executemany('INSERT INTO SUBJECTS VALUES(?,?,?)', dataSub)

In [110]:
conn.commit()

In [111]:
dataStu = []

stuCorpus = '''
a101- 1234-aakash-20039-a,
a202-5678-amog-20004-a,
b203-2012-abhishek-20101-b,
b204-0012-hemanth-20012-b
'''

stuCorpus = stuCorpus.replace('\n', '')

stuCorpus = stuCorpus.split(',')

for i in stuCorpus:
    dataStu.append(tuple(i.split('-')))

In [112]:
cur.executemany('INSERT INTO STUDENT VALUES(?,?,?,?,?)', dataStu)

In [113]:
conn.commit()

In [114]:
dataFac = []

facCorpus = '''
TR139,Qwerty,Ram,RM,ram12@gmail.com,18MAT322,18MAT332;
TR143,Asdf,Uma,UM,Uma23@gmail.com,18CSC303,18SSK301;
TR182,Zxcv,Sagar,SG,Sagar34@gmail.com,18MAT322,18CSC381;
TR141,Cvbnm,Mahalakshmi,MX,Mahalakshmi45@gmail.com,18CSC302,18CSC301;
TR133,Mnbc,Likitha,LK,Likitha56gmail.com,18OEL390,18CSC303;
TR121,Lkjh,Ranjan,RJ,Ranjan67@gmail.com,18CSC381,18CSC301;
TR198,Poiu,Renuka,RK,Renuka78@gmail.com,18MAT332,18CSC381;
TR155,mypassword,Lalit,LL,Lalit89@gmail.com,18SSK301,18MAT322
'''

facCorpus = facCorpus.replace('\n', '')

facCorpus = facCorpus.split(';')

for i in facCorpus:
    dataFac.append(tuple(i.split(',')))

In [115]:
cur.executemany('INSERT INTO FACULTY VALUES(?,?,?,?,?,?,?)', dataFac)

    CREATE TABLE IF NOT EXISTS SCHEDULE(
        ID TEXT PRIMARY KEY,
        DAYID INT,
        PERIODID INT,
        SUBCODE TEXT,
        SECTION TEXT,
        FINI TEXT

In [116]:
dataSchedule = []

for section in ['a', 'b']:
    for day in range(5):
        for period in range(1, 6):
            subcode = rd.choice(dataSub)[0]
            fini = rd.choice(dataFac)[0]
            dataSchedule.append((str(day)+str(period)+section, day, period, subcode, section, fini))

In [117]:
dataSchedule

[('01a', 0, 1, '18OEL390', 'a', 'TR139'),
 ('02a', 0, 2, '18SSK301', 'a', 'TR143'),
 ('03a', 0, 3, '18OEL390', 'a', 'TR139'),
 ('04a', 0, 4, '18CSC381', 'a', 'TR133'),
 ('05a', 0, 5, '18CSC301', 'a', 'TR121'),
 ('11a', 1, 1, '18CSC381', 'a', 'TR139'),
 ('12a', 1, 2, '18SSK301', 'a', 'TR133'),
 ('13a', 1, 3, '18MAT332', 'a', 'TR198'),
 ('14a', 1, 4, '18SSK301', 'a', 'TR155'),
 ('15a', 1, 5, '18MAT322', 'a', 'TR198'),
 ('21a', 2, 1, '18CSC303', 'a', 'TR121'),
 ('22a', 2, 2, '18SSK301', 'a', 'TR139'),
 ('23a', 2, 3, '18MAT322', 'a', 'TR139'),
 ('24a', 2, 4, '18OEL390', 'a', 'TR141'),
 ('25a', 2, 5, '18SSK301', 'a', 'TR139'),
 ('31a', 3, 1, '18MAT322', 'a', 'TR155'),
 ('32a', 3, 2, '18OEL390', 'a', 'TR133'),
 ('33a', 3, 3, '18CSC301', 'a', 'TR141'),
 ('34a', 3, 4, '18CSC301', 'a', 'TR155'),
 ('35a', 3, 5, '18MAT332', 'a', 'TR121'),
 ('41a', 4, 1, '18OEL390', 'a', 'TR133'),
 ('42a', 4, 2, '18CSC381', 'a', 'TR182'),
 ('43a', 4, 3, '18MAT332', 'a', 'TR155'),
 ('44a', 4, 4, '18SSK301', 'a', 'TR133'),
 ('45a', 4, 5, '18CSC302', 'a', 'TR141'),
 ('01b', 0, 1, '18SSK301', 'b', 'TR139'),
 ('02b', 0, 2, '18OEL390', 'b', 'TR182'),
 ('03b', 0, 3, '18CSC381', 'b', 'TR155'),
 ('04b', 0, 4, '18MAT332', 'b', 'TR121'),
 ('05b', 0, 5, '18CSC301', 'b', 'TR141'),
 ('11b', 1, 1, '18MAT332', 'b', 'TR198'),
 ('12b', 1, 2, '18CSC302', 'b', 'TR143'),
 ('13b', 1, 3, '18OEL390', 'b', 'TR198'),
 ('14b', 1, 4, '18CSC381', 'b', 'TR198'),
 ('15b', 1, 5, '18CSC301', 'b', 'TR143'),
 ('21b', 2, 1, '18CSC381', 'b', 'TR139'),
 ('22b', 2, 2, '18CSC303', 'b', 'TR198'),
 ('23b', 2, 3, '18CSC381', 'b', 'TR155'),
 ('24b', 2, 4, '18SSK301', 'b', 'TR143'),
 ('25b', 2, 5, '18MAT332', 'b', 'TR182'),
 ('31b', 3, 1, '18SSK301', 'b', 'TR133'),
 ('32b', 3, 2, '18MAT332', 'b', 'TR155'),
 ('33b', 3, 3, '18MAT322', 'b', 'TR198'),
 ('34b', 3, 4, '18MAT332', 'b', 'TR139'),
 ('35b', 3, 5, '18CSC303', 'b', 'TR121'),
 ('41b', 4, 1, '18CSC302', 'b', 'TR198'),
 ('42b', 4, 2, '18CSC303', 'b', 'TR141'),
 ('43b', 4, 3, '18CSC303', 'b', 'TR182'),
 ('44b', 4, 4, '18SSK301', 'b', 'TR143'),
 ('45b', 4, 5, '18MAT322', 'b', 'TR143')]

In [118]:
cur.executemany('INSERT INTO SCHEDULE VALUES(?,?,?,?,?,?)', dataSchedule)

In [119]:
conn.commit()

In [120]:
conn.close()