In [1]:
import pandas as pd

In [2]:
tournaments = pd.read_csv('./Data Files/tournament.csv')
matches = pd.read_csv('./Data Files/match.csv')

In [7]:
for tournament in tournaments.Tournament_ID:
    winner = matches[(matches['Tournament_ID'] == tournament) & (matches['Match_Type'] == 'Final')]['Winner'].values[0]
    
    tournaments.loc[tournaments['Tournament_ID'] == tournament, 'Winner'] = winner

In [9]:
tournaments.to_csv('./Data Files/tournament.csv', index=False)

In [3]:
plProfile = pd.read_csv('./Data Files/playerProfile.csv')

In [25]:
plProfile.columns = ['Player_ID', 'Year', 'Achievements', 'CoachName']

In [20]:
players = pd.read_csv('./Data Files/player.csv')

In [28]:
players['Player_Rating'] = 0

players['Player_Rating'] = players['Player_Rating'].astype('int')

In [4]:
plProfile['Achievements'] = ''

In [5]:
for tournament in tournaments.Tournament_ID:
    winner = matches[(matches['Tournament_ID'] == tournament) & (matches['Match_Type'] == 'Final')]['Winner'].values[0]
    plys = list(matches[(matches['Tournament_ID'] == tournament) & (matches['Match_Type'] == 'Final')][['Player_Black', 'Player_White']].values[0])

    second = plys[0] if plys[1] == winner else plys[1]
    tournamentName = tournaments[tournaments['Tournament_ID'] == tournament]['Tournament_Name'].values[0]
    tournamentYear = tournaments[tournaments['Tournament_ID'] == tournament]['Start_Date'].values[0]
    tournamentYear = tournamentYear.split('-')[0]

    plProfile.loc[(plProfile['Player_ID'] == winner) & (plProfile['Year'] == int(tournamentYear)), 'Achievements'] += f'Winner of {tournamentName}, {tournamentYear} | '
    plProfile.loc[(plProfile['Player_ID'] == second) & (plProfile['Year'] == int(tournamentYear)), 'Achievements'] += f'Runner-Up of {tournamentName}, {tournamentYear} | '

In [22]:
for match in matches.Match_ID:
    winner = matches[matches['Match_ID'] == match]['Winner'].values[0]
    plys = list(matches[matches['Match_ID'] == match][['Player_Black', 'Player_White']].values[0])

    loser = plys[0] if plys[1] == winner else plys[1]

    players.loc[players['Player_ID'] == winner, 'Player_Rating'] += 2
    players.loc[players['Player_ID'] == loser, 'Player_Rating'] += 1

In [33]:
for tournament in tournaments.Tournament_ID:
    winner = matches[(matches['Tournament_ID'] == tournament) & (matches['Match_Type'] == 'Final')]['Winner'].values[0]
    plys = list(matches[(matches['Tournament_ID'] == tournament) & (matches['Match_Type'] == 'Final')][['Player_Black', 'Player_White']].values[0])

    second = plys[0] if plys[1] == winner else plys[1]
    tournamentName = tournaments[tournaments['Tournament_ID'] == tournament]['Tournament_Name'].values[0]
    tournamentYear = tournaments[tournaments['Tournament_ID'] == tournament]['Start_Date'].values[0]
    tournamentYear = tournamentYear.split('-')[0]

    plProfile.loc[plProfile['Player_ID'] == winner, 'Achievements'] += f'Winner of {tournamentName}, {tournamentYear} | '
    plProfile.loc[plProfile['Player_ID'] == second, 'Achievements'] += f'Runner-Up of {tournamentName}, {tournamentYear} | '

    players.loc[players['Player_ID'] == winner, 'Player_Rating'] = (players.loc[players['Player_ID'] == winner, 'Player_Rating'].values[0] + 10) * 2
    players.loc[players['Player_ID'] == second, 'Player_Rating'] = (players.loc[players['Player_ID'] == second, 'Player_Rating'].values[0] + 5) * 2

In [48]:
players.columns = ['Player_ID', 'Player_Name', 'DOB', 'Gender', 'FIDE_Percentile', 'Player_Rating', 'Country']

In [50]:
from scipy import stats

In [51]:
players['FIDE_Percentile'] = players['Player_Rating'].apply(lambda x: stats.percentileofscore(players['Player_Rating'], x))

In [52]:
players

,Player_ID,Player_Name,DOB,Gender,FIDE_Percentile,Player_Rating,Country
0,GD-11-MCSU,Paul Fletcher,1957-06-13,M,95.885139,20,GD
1,CF-73-AWDV,Kaitlyn Sweeney,1970-12-01,F,44.138544,0,CF
2,SL-37-GVYX,Joshua Robinson,1988-10-16,M,44.138544,0,SL
3,PE-42-UTAT,James Banks,1975-11-20,M,44.138544,0,PE
4,BN-21-NJLH,Heidi Maldonado,1963-09-10,F,44.138544,0,BN
...,...,...,...,...,...,...,...
1684,NZ-96-GZBA,Roy Atkinson,1992-01-30,M,44.138544,0,NZ
1685,BN-21-QJHV,Mary Stout,1956-04-12,F,44.138544,0,BN
1686,CM-96-CDCJ,Chelsea Parks,1966-07-07,F,44.138544,0,CM
1687,PG-05-XORC,Katherine Johnson,1984-04-22,F,44.138544,0,PG
1688,BE-95-XMPN,Kenneth Contreras,1995-03-23,M,44.138544,0,BE

In [6]:
#players.to_csv('./Data Files/player.csv', index=False)
plProfile.to_csv('./Data Files/playerProfile.csv', index=False)